<html>
    <head>
      <title> Docker </title>
      <h1>Docker</h1>
      <style type="text/css">
      body {
      color: Black;
      
      background-image: url(https://i.blogs.es/88e43c/captura-de-pantalla-2021-10-20-a-las-9.39.51/1366_2000.jpg);
      text-align: center }
      label{
          font-size: 20px;
      }
      </style>
    </head>
    <body>
        <label>Docker es un proyecto de código abierto que automatiza el despliegue de aplicaciones dentro de contenedores de software, proporcionando una capa adicional de abstracción y automatización de virtualización de aplicaciones en múltiples sistemas operativos.​Docker utiliza características de aislamiento de recursos del kernel Linux, tales como cgroups y espacios de nombres (namespaces) para permitir que "contenedores" independientes se ejecuten dentro de una sola instancia de Linux, evitando la sobrecarga de iniciar y mantener máquinas virtuales.​</label></br>
        <p>
            <a href="https://8080-yesenia19-dockerdemo-leuv023w5hn.ws-us46.gitpod.io/index">Contenedor</a>
            <a href="https://8080-yesenia19-dockerdemo-leuv023w5hn.ws-us46.gitpod.io/ubuntu">Ubuntu</a>
        </p>
    </body>
</html>