<html>
    <head>
      <title> Contenedor </title>
      <h1>Contenedor</h1>
      <style type="text/css">
      body {
      color: Black;
      
      background-image: url(https://i.blogs.es/88e43c/captura-de-pantalla-2021-10-20-a-las-9.39.51/1366_2000.jpg);
      text-align: center }
      label{
          font-size: 20px;
      }
      </style>
    </head>
    <body>
        <label>Los contenedores son una forma de virtualización del sistema operativo. Un solo contenedor se puede usar para ejecutar cualquier cosa, desde un microservicio o un proceso de software a una aplicación de mayor tamaño. Dentro de un contenedor se encuentran todos los ejecutables, el código binario, las bibliotecas y los archivos de configuración necesarios. Sin embargo, en comparación con los métodos de virtualización de máquinas o servidores, los contenedores no contienen imágenes del sistema operativo. Esto los hace más ligeros y portátiles, con una sobrecarga significativamente menor. En implementaciones de aplicaciones de mayor tamaño, se pueden poner en marcha varios contenedores como uno o varios clústeres de contenedores. Estos clústeres se pueden gestionar mediante un orquestador de contenedores, como Kubernetes.</label></br>
        <p>
            <a href="https://8080-yesenia19-dockerdemo-leuv023w5hn.ws-us46.gitpod.io/docker">Docker</a>
            <a href="https://8080-yesenia19-dockerdemo-leuv023w5hn.ws-us46.gitpod.io/ubuntu">Ubuntu</a>
        </p>
    </body>
</html>