<html>
    <head>
      <title> Ubuntu </title>
      <h1>Ubuntu</h1>
      <style type="text/css">
      body {
      color: Black;
      
      background-image: url(https://i.blogs.es/88e43c/captura-de-pantalla-2021-10-20-a-las-9.39.51/1366_2000.jpg);
      text-align: center }
      label{
          font-size: 20px;
      }
      </style>
    </head>
    <body>
        <label>Ubuntu es uno de los sistemas operativos basados en Linux más utilizado en la actualidad, algo que ha conseguido gracias a su rendimiento, a la posibilidad de descargarse gratis y tratarse de software libre que cualquiera puede modificar para mejorar su código, algo que ha propiciado la aparición de otros entornos gráficos como Kubuntu o Xubuntu entre muchos otros. El periodo aproximado de actualizaciones de Ubuntu es de seis meses y es Canonical la que se encarga de aportar los updates de seguridad para solucionar errores críticos y bugs.​</label></br>
        <p>
            <a href="https://8080-yesenia19-dockerdemo-leuv023w5hn.ws-us46.gitpod.io/index">Contenedor</a>
            <a href="https://8080-yesenia19-dockerdemo-leuv023w5hn.ws-us46.gitpod.io/docker">Docker</a>
        </p>
    </body>
</html>